<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }} </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <div class="container">
      <div class="row">

        <div class="twelve columns" style="text-align:center;">
          <h1>posifind</h1>
          <h5>Enter a twitter handle (e.g. @uber) to find positive tweets mentioning that account or just search any word.</h3>
          <form action="." method="POST">
              <input type="text" class="primary-input" name="text" placeholder="Enter a twitter handle.">
              <input type="submit" name="my-form" value="Search">
          </form>

        {% if text %}
          <h4>Found {{length}} mentions with positive sentiment about {{text}}</h4>
        {% else %}
          <h4>No mentions with positive sentiment about {{text}} found.</h4>
        {% endif %}


        {% for tweets in iterator: %}
        <div class="tweet">
            <p>@{{tweets['user']['screen_name']}}: {{tweets['text']}}
            <a href="http://twitter.com/{{tweets['user']['screen_name']}}/status/{{tweets['id']}}">
              Go to tweet!
            </a></p>

            <br>
        </div>
        {% endfor %}

        </div>

      </div>
  </body>
</html>